body{
	box-sizing:border-box;
}

main{
	max-width: 960px;
	min-width: 320px;
	margin: 30px auto;
}

/******/

.top-nav-contacts{
	float: right;
	padding-right: 15px;
}
.top-nav-contact{
	float:left;
	margin-right: 60px;
	margin-top: 7px;
}
.top-nav-contact:last-child{
	margin-right: 0px;
}
.top-nav-social-media{
	margin-right:15px;
}

.navbar-brand{
	height: 102px;
	clear: both;
	margin-bottom: 25px;
}

.navbar{
	background-color: transparent;
	border: none;
	font-size: 12px;
}

.navbar-right{
	text-align: center;
	margin-top:69px;
}

.navbar-nav .active a,
.navbar-nav .active a:hover{
	background-color: #cc9900 !important;
}
.navbar-nav a{
	color: #333333 !important;
}
.navbar-nav a:hover{
	background-color: #cccccc !important;
}

.navbar-toggle{
	position: relative;
  top: 30px;
}
.page-title-box{
	margin: auto -15px;
}

.page-title-box img{
	width: 100%;
}
.page-title{
	text-align: center;
	position: relative;
	top:-180px;
	width: 100%;
	background-color: rgba(255,255,255,0.75);
}

/*******/

.main-content-area{
	margin-top:-76px;
}

.main-content-area .text-box{
	padding: 20px 0px;
}

.home-page .text-box{
	padding: 10px 0px 20px;
}








/* FORMS */
.reservation-page #rez-form{
	background-color: #cc9900;
    padding-bottom: 20px;
}

.reservation-page #private-event-info{
	padding: 18px 23px 28px;
}

.contact-form{
	padding-bottom: 20px;
}

.cognito .c-forms-form{
	max-width: 100% !important;
}

.cognito .c-forms-form .c-label,
.cognito .c-forms-form .c-forms-form-title h2,
.cognito .c-forms-form .c-timepicker,
.cognito .c-forms-form .c-datepicker,
.cognito .c-forms-form .c-dropdown select,
.cognito .c-forms-form input {
	font-family: 'Libre Franklin', sans-serif !important;  
	color:#333333 !important;
}

.cognito .c-forms-form, .c-label{ 
	font-weight:400 !important;
	font-size:14px !important;
}

.cognito .c-forms-form .c-forms-form-title h2{
	font-weight:600 !important;
	font-size:24px !important;
	
}

.cognito .c-forms-form .c-forms-form-title {
	padding-top: 28px !important;
}







/*MAP*/

#map{
	width: 100%;
	max-width:100%;	
}








.has_box_shadow{
	box-shadow: 0 12px 12px -2px rgba(0, 0, 0, 0.5);
	margin-bottom: 12px
}
footer{
	clear: left;
}

footer .social-section{
	padding: 15px;
}

footer .social-links{
	margin: 10px auto 25px;
	max-width: 260px;
}

.footer-section{
	min-height: 434px;
	padding: 15px;
}

.rights {
	text-align: center;
}

