@media (max-width: 767px){
	.main-content-area{
		top:-20px;
	}
	.navbar-brand{
		max-width:200px;
		margin-left: -15px;
    margin-bottom: 5px;
	}
	.navbar-right{
	margin-top:0px;
	}

	.top-nav-contacts{
		float: none;
		background-color: #cc9900;
    padding: 1px 0 20px;
    margin: 0px -15px;
	}
	.top-nav-contact{
		float: none;
    margin-right: 0px;
    margin-top: 15px;
    text-align: center;
	font-size: 1.25em;
	}
	
	.top-nav-contact span{
		display:inline-block;
	}
	.page-title-box{
		margin-top: -15px;
	}
	.page-title{
		top:-110px;
	}
	#press-logo-title span,
	.title-specials span{
		display:block;
	}
	#special-ingr p{
	max-width: 100%;
	}

	.gallery img{
		width: 100%;
		margin:auto;
		margin-top: 5px;
	}


	.footer-section{
		min-height: auto;
	}
}